In [1]:
import pandas as pd

In [2]:
mbsr_raw = pd.read_csv('../data/MBSR Data Set 3-28-18 for analysis.csv')

In [3]:
mbsr_raw.head()

,study_id,finish_tx,parentfinish_t6,childfinish_t6,child_dob,ados_date,age_ados,ados_module,ados_new_algorithm,ados_severity,...,DescribeT5,AwareT5,NonjudgeT5,NonreactT5,FFMQT6,ObserveT6,DescribeT6,AwareT6,NonjudgeT6,NonreactT6
0,1,1,1,1,9/24/2012,3/11/2015,2.46,3,14,,...,31,39,29,17,133,16,31,40,31,15
1,2,1,1,1,4/7/2012,3/17/2015,2.94,1,12,6,...,37,32,36,20,,16,36,34,,16
2,3,1,1,1,5/22/2012,3/18/2015,2.82,1,24,9,...,25,32,36,20,126,12,21,31,36,26
3,4,1,1,1,10/4/2012,3/31/2015,2.49,3,24,,...,35,40,36,21,165,30,35,40,35,25
4,5,1,1,1,10/19/2012,4/28/2015,2.52,3,20,,...,22,32,31,13,122,22,22,33,32,13

Outcome variables:

- depression
- anxiety
- parenting stress

Confounders

- mental health treatment
- Child level variables
    - expressive language
    - ADOS
- DAS (relationships)

Start with time 1 versus time 3
- finished at least 10 sessions (`finish_tx`)

Similar age and location of kids

In [6]:
mbsr_raw.columns[]

AttributeError: 'numpy.ndarray' object has no attribute 'find'